<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>
        To Do List
    </title>

    <link rel="stylesheet" href="../../css/todolist/todolistStyle.css"/>
</head>
<body>

<div class="input-container">
    <input id="input" placeholder="오늘 할 일을 작성해보세요."/>
    <button id="add-button">추가</button>
</div>
<div class="list-container">
    <h1>To Do List</h1>
    <ul id="list">
        <li class="list-item">코딩하기</li>
        <li class="list-item">집 청소하기</li>
    </ul>
</div>
<script src="../../js/todolist/todolist.js"/>
</body>
</html>