<input type="checkbox" id="menuToggler" class="input-toggler" />
<label for="menuToggler" class="menu-toggler">
    <span class="menu-toggler__line"></span>
    <span class="menu-toggler__line"></span>
    <span class="menu-toggler__line"></span>
</label>
<aside class="sidebar">
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="#Home">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="#Blog">Profile</a></li>
        <li class="menu__item"><a class="menu__link" href="#Portfolio">Diary</a></li>
        <li class="menu__item"><a class="menu__link" href="/calendar/mainCalendar">Calendar</a></li>
        <li class="menu__item"><a class="menu__link" href="#Contact">Monologue</a></li>
    </ul>
</aside>