html {
    overflow: auto;
}

@font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

.check_font{
    margin-top: 2px;
    font-family: 'MapoGoldenPier';
    font-size: 14.5px;
}

/*#login-button{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(3,3,3,.8);
    overflow: hidden;
    opacity: 0.4;
    box-shadow: 10px 10px 30px #000;}*/

/* signUp container */

#container{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2.5% 35% 10%;
    width: 600px;
    height:800px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 50px #282727;
}

.close-btn{
    position: absolute;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 18px;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.close-btn:hover{
    opacity: .5;
}

.check_font{
    margin-left: 20%;
}

/* Heading */
.signUp{
    font-family: 'MapoGoldenPier';
    position: relative;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
}

/* Inputs */
a,
input{
    font-family: 'MapoGoldenPier';
    text-decoration: none;
    position: relative;
    width: 60%;
    display: block;
    margin-top: 9px;
    margin-left: 20%;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3, 3, 3, 0.3);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.18);
}

/* Placeholders */
::-webkit-input-placeholder {
    color: #e5dada;  }
:-moz-placeholder { /* Firefox 18- */
    color: red;  }
::-moz-placeholder {  /* Firefox 19+ */
    color: red;  }
:-ms-input-placeholder {
    color: #333;  }

/* Link */
a, #signUp{
    font-family: 'MapoGoldenPier';
    text-align: center;
    padding: 4px 8px;
    background: rgb(125, 138, 172);
}

a, #signUp:hover{
    opacity: 0.7;
}

#signUp{
    width: 376px;
    display: block;
    margin-top: 9px;
    margin-left: 20%;
    font-size: 17px;
}



.orange-btn{
    background: rgba(87,198,255,.5);
}