/*html {
    background: url(http://cdn.magdeleine.co/wp-content/uploads/2014/05/3jPYgeVCTWCMqjtb7Dqi_IMG_8251-1400x933.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}*/

img{
    /*display: block;*/
    /*margin: auto;*/
    width: 130px;
    height: 40px;
}

p{
    color: whitesmoke;
    font-size: 11px;
}

#login-button{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(3,3,3,.8);
    overflow: hidden;
    opacity: 0.4;
    box-shadow: 10px 10px 30px #000;}

/* Login container */
#container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 30%;
    height: 50%;
    border-radius: 5px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
}

.close-btn{
    position: absolute;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 18px;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.close-btn:hover{
    opacity: .5;
}

/* Heading */
h2{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 5px;
    text-align: center;
    font-size: 40px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
}

/* Inputs */

input{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.1);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.18);
}

/* Placeholders */
::-webkit-input-placeholder {
    color: #ddd;  }
:-moz-placeholder { /* Firefox 18- */
    color: red;  }
::-moz-placeholder {  /* Firefox 19+ */
    color: red;  }
:-ms-input-placeholder {
    color: #333;  }

/* Link */

.find_info .log{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    text-align: center;
    width: 100px;
    height: 20px;
    padding: 4px 8px;
    display: block;
    margin: 9px auto;
    font-size: 11.5px;
    color: #fff;
    border-radius: 6px;
    border: none;
    /*background: rgba(3,3,3,.1);*/
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
    float: left;
}


#findId:hover{
    color: rgba(255,255,255,.6);
}
#findPwd:hover{
    color: rgba(255,255,255,.6);
}
#signUp:hover{
    color: rgba(255,255,255,.6);
}

#custom-login-btn{
    width: 100px;
    height: 35px;
    border: 15px;
    padding: 15px;
    /*box-sizing: border-box;*/
}

a:hover{
    opacity: 0.7;
}


#forgotten:hover{
    color: rgba(255,255,255,.6);
}

#forgotten-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 260px;
    height: 180px;
    border-radius: 10px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
}

.orange-btn{
    background: rgba(87,198,255,.5);
}