/*html {
    background: url(http://cdn.magdeleine.co/wp-content/uploads/2014/05/3jPYgeVCTWCMqjtb7Dqi_IMG_8251-1400x933.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}*/

@font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img{
    display: block;
    margin: auto;
    width: 170px;
    height: 40px;
}

p{
    font-family: 'MapoGoldenPier';
    color: whitesmoke;
    font-size: 11px;
}

#login-button{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(3,3,3,.8);
    overflow: hidden;
    opacity: 0.4;
    box-shadow: 10px 10px 30px #000;}

/* Login container */
#container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 10%;
    width: 500px;
    height: 650px;
    border-radius: 8px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
}

.close-btn{
    position: absolute;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 18px;
    top: 3px;
    right: 3px;
    text-align: center;
    border-radius: 10px;
    opacity: .2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.close-btn img{
    width: 20px;
    height: 20px;
}

.close-btn:hover{
    opacity: .5;
}

/* Heading */
.loginTitle{
    font-family: 'MapoGoldenPier';
    position: relative;
    margin-top: 5px;
    text-align: center;
    font-size: 40px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
}

/* Inputs */

input{
    font-family: 'MapoGoldenPier';
    text-decoration: none;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background: rgba(3,3,3,.1);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.18);
}

/* Placeholders */
::-webkit-input-placeholder {
    color: #ddd;  }
:-moz-placeholder { /* Firefox 18- */
    color: red;  }
::-moz-placeholder {  /* Firefox 19+ */
    color: red;  }
:-ms-input-placeholder {
    color: #333;  }

/* Link */

.find_info span{
    font-family: 'MapoGoldenPier';
    text-decoration: none;
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
    width: 100px;
    height: 20px;
    padding: 4px 8px;
    font-size: 11.5px;
    color: #fff;
    border-radius: 6px;
    border: none;
    /*background: rgba(3,3,3,.1);*/
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
    float: left;
    cursor: pointer;
}

.find_info p, .find_info #findUserInfo{
    margin-left: 30%;
}

.find_info #signUp{
    font-family: 'MapoGoldenPier';
    text-decoration: none;
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
    width: 100px;
    height: 20px;
    padding: 4px 8px;
    font-size: 11.5px;
    color: #fff;
    border-radius: 6px;
    border: none;
    /*background: rgba(3,3,3,.1);*/
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
    float: left;
    cursor: pointer;
    margin-left: 40%;
}
#loginBtn{
    transition: 1s;
}

#loginBtn:hover{
    background-color: rgba(255,255,255,.6);
    color: black;
    transition: 1s;
}

#findId:hover{
    color: rgba(255,255,255,.6);
}
#findPwd:hover{
    color: rgba(255,255,255,.6);
}
#signUp:hover{
    color: rgba(255,255,255,.6);
}

#message{
    font-family: 'MapoGoldenPier';
}

#custom-login-btn{
    width: 100px;
    height: 35px;
    border: 15px;
    padding: 15px;
    /*box-sizing: border-box;*/
}

a:hover{
    opacity: 0.7;
}


#forgotten:hover{
    color: rgba(255,255,255,.6);
}

#forgotten-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 260px;
    height: 180px;
    border-radius: 10px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
}

.orange-btn{
    background: rgba(87,198,255,.5);
}

.modal{
    font-family: 'MapoGoldenPier';
}

.modal p{
    color: black;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.modal input{
    color: rgba(0,0,0,0.9);
}

.modal input::placeholder{
    color: rgba(0,0,0,0.5);
}

.modal .password-modal-footer{
    margin-bottom: 20px;
}

.modal .modal-content{
    text-align: center;
}

.modal a{
    color: rgba(0,0,0,0.5);
    text-underline: none;
    transition: 1s;
}
.modal a:hover{
    color: black;
    text-underline: black;
    transition: 1s;
}

.modal button{
    background-color: transparent;
    border: 1px solid #ccc;
    color: rgba(0,0,0,0.5);
    text-underline: none;
    transition: 1s;
}
.modal button:hover{
    background-color: rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.6);
    color: white;
    text-underline: black;
    transition: 1s;
}

.modal #password-modal-open{
    color: rgba(0,0,0,0.5);
}
.modal #password-modal-open:hover{
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.close-btn{

    position: absolute;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 18px;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    opacity: .2;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}