<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signUp</title>
</head>
<body>
<h3>signUp</h3>

<form action="signUp" method="post">

    id       : <input type="text" name="userId" placeholder="아이디를 입력해주세요">    </br>
    name     : <input type="text" name="userName" placeholder="이름을 입력해주세요">  </br>
    password : <input type="password" name="password" placeholder="비밀번호를 입력해주세요">  </br>
    nickname : <input type="text" name="nickname" placeholder="닉네임을 입력해주세요">  </br>
    email    : <input type="email" name="email" placeholder="이메일을 입력해주세요">    </br>
    certificationNo : <input type="text" name="certificationNo" placeholder="인증번호를 입력해주세요"> </br>

    <input type="submit" value="회원가입">

</form>
</body>
</html>