<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/user/addUser.css">
    <script src="../../js/user/addUser.js"></script>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
<!--    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
</head>

<body>

<div id="container" style="display: block; transform: matrix(1,0,0,1,0,0); left: 0px;">
        <span class="close-btn">
    <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
  </span>
    <h2>회원가입</h2>
    <form th:action="@{signUp}" method="post" onsubmit="return submitCheck();">

        <div class="form-group">
            <label for="userId"></label>
            <input type="text" onkeyup="idCheck()" class="form-control" id="userId" name="userId"
                   placeholder="아이디를 입력해주세요" minlength="5" maxlength="20" title="아이디를 5~20자 사이로 입력해주세요" required>
            <!--<i class="fas fa-check"></i>-->
            <div class="check_font" id="idCheck"></div>
            <!--경고문이 들어갈 공간 -->

            <!-- <div class="col-lg-6">
                 <span id="5char" class="glyphicon glyphicon-remove" style="color:#ff0004"></span>5글자 이상
             </div>-->
        </div>

        <input type="password" class="input-lg form-control" id="password01" name="password"
               placeholder="새 비밀번호를 입력해주세요" minlength="6"
               maxlength="12" pattern="[a-zA-Z0-9]{6,12}"
               title="비밀번호는 영문자와 숫자, 특수기호가 적어도 1개 이상 포함된 6자~12자의 비밀번호여야 합니다."
               autocomplete="off" required></br>

        <input type="password" onkeyup="pwdCheck()" class="input-lg form-control" id="password02"
               placeholder="비밀번호를 재입력해주세요" autocomplete="off" required></br>
        <div class="row">
            <div class="col-sm-12">
                <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#2E2F34;">비밀번호 확인</span>
            </div>
        </div>

        <input type="text" name="userName" placeholder="이름을 입력해주세요" required></br>

        <input type="email" id="email" name="email" placeholder="이메일을 입력해주세요" required>
        <a id="checkEmail" value="email" href="#" onclick=javascript:sendMail()>이메일 인증</a></br>

        <input type="text" id="certificationNo" placeholder="인증번호를 입력해주세요" required>
        <a id="checkCertificationNo" href="#" value="certificationNo" onclick=javascript:checkCertificationNo()>인증확인</a>

        <!-- <button id="resend" onclick=javascript:resend()>재전송</button>-->
        </br>

        <input type="text" name="nickname" placeholder="닉네임을 입력해주세요"></br>

        <input type="text" name="motto" placeholder="나의 좌우명을 입력해주세요"></br>

        <input type="submit" value="회원가입">
    </form>
</div>

<input type="hidden" id="check" value=""><!--아이디 중복체크-->
<!--<input type="hidden" id="token" th:value="${accessToken}">--><!--카카오 로그인 사용자 정보 불러오기-->

</body>
</html>