<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>signUp</title>
    <meta charset="UTF-8">
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script type="text/javascript">

        //아이디 유효성 검사
        function idCheck() {
            var userId = $('#userId').val();
            $.ajax({
                url: '/restUser/idCheck',
                type : 'get',
                data : {userId:userId},
                contentType : "application/json",
                success : function (data) {
                    console.log("1=중복/0=중복아님"+data);

                    if (data==1){
                        $("#idCheck").text("이미 존재하는 아이디입니다.");
                        $("#idCheck").css("color","red");
                        $("#submit").attr("disabled", true);
                    }else {
                        $("#idCheck").text("사용가능한 아이디입니다.");
                        $("#idCheck").css("color","blue");
                        $("#submit").attr("disabled", true);
                    }
                }, error : function () {
                    console.log("실패");
                }
            });
        };

        // $(".sendMail").click(function() {// 메일 입력 유효성 검사
        //     var mail = $(".mail").val(); //사용자의 이메일 입력값.
        //
        //     if (mail == "") {
        //         alert("메일 주소가 입력되지 않았습니다.");
        //     } else {
        //         mail = mail+"@"+$(".domain").val(); //셀렉트 박스에 @뒤 값들을 더함.
        //         $.ajax({
        //             type : 'post',
        //             url : '/CheckMail',
        //             data : {
        //                 mail:mail
        //             },
        //             dataType :'json',
        //
        //         });
        //         alert("인증번호가 전송되었습니다.")
        //         isCertification=true; //추후 인증 여부를 알기위한 값
        //     }
        // });
    </script>

    <style>
        body {
            background-image: url("https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<h3>signUp</h3>

<form action="signUp" method="post">
    <div class="form-group">
    <label for="userId"></label>
    id       : <input type="text" onkeyup="idCheck()" class="form-control" id="userId" name="userId" placeholder="아이디를 입력해주세요" required>
    <div class="check_font" id="idCheck"></div><!--경고문이 들어갈 공간 -->
    </div>
    password : <input type="password" name="password" placeholder="비밀번호를 입력해주세요" required></br>
    name     : <input type="text" name="userName" placeholder="이름을 입력해주세요" required></br>
    email    : <input type="email" name="email" placeholder="이메일을 입력해주세요" required>
    <button id="checkEmail"  onclick=javascript:sendMail()>이메일 인증</button></br>
    certificationNo : <input type="text" name="certificationNo" placeholder="인증번호를 입력해주세요">
    <button id="resend"  onclick=javascript:resend()>재전송</button>
    <button id="checkCertificationNo"  onclick=javascript:checkCertificationNo()>인증확인</button></br>
    nickname : <input type="text" name="nickname" placeholder="닉네임을 입력해주세요"></br>
    <input type="submit" value="회원가입">
</form>

</body>
</html>