<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>findId</title>
</head>
<style>
    body {
        background-image: url("https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
<h3>아이디 찾기</h3>

<form action="findId" method="post">

    name  : <input type="text" name="userName" placeholder="이름을 입력해주세요" required/>  </br>
    email : <input type="email" name="email" placeholder="이메일을 입력해주세요" required/>  </br>

    <input type="submit" value="인증요청"/>


</form>
</body>
</html>