<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>signUp</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/user/addUser.css">
    <link rel="stylesheet" href="../../css/main/main.css">
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src="../../js/user/addUser.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <link rel="shortcut icon" href="../../images/icon/favicon.ico" type="image/x-icon">
</head>

<body>

<div id="container" style="display: block; transform: matrix(1,0,0,1,0,0); left: 0px;">
        <span class="close-btn">
    <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
  </span>
    <h2 class="signUp">회원가입</h2>
    <form action="/user/kakaoSignUp" method="post">

        <input type="hidden" th:value="${userId}" id="userId" name="userId"></br>

        <input type="hidden" th:value="${userId}" id="password01" name="password"></br>

        <input type="hidden" th:value="${nickname}" name="userName"></br>

        <input type="hidden" th:value="${email}" id="email" name="email"></br>

        <input type="text" name="nickname" placeholder="닉네임"></br>

        <input type="text" name="motto" placeholder="나의 좌우명"></br>

        <input type="submit" value="회원가입">

    </form>
</div>

<!--<input type="hidden" id="check" value="">&lt;!&ndash;아이디 중복체크&ndash;&gt;-->
<!--<input type="hidden" id="token" th:value="${accessToken}">--><!--카카오 로그인 사용자 정보 불러오기-->

</body>
</html>