<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="../../css/user/login.css">
<script src="../../js/user/login.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

<script>
    // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('b924b1b6cefccb2c71d88231552b32a8');

    // SDK 초기화 여부를 판단합니다.
    console.log(Kakao.isInitialized());
</script>

<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <title>login</title>
</head>

<body>
<div id="container" style="display: block; transform: matrix(1,0,0,1,0,0); left: 0px;">
<h2>login</h2>
<form action="login" method="post">

    <input type="text" name="userId" placeholder="아이디를 입력해주세요" required/>  </br>
    <input type="password" name="password" placeholder="비밀번호를 입력해주세요" required/>  </br>

    <input type="submit" value="로그인"/>

    <a id="custom-login-btn" href="javascript:loginWithKakao()">
        <img
                src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg"
                width="100"
        />
    </a>
</form>
</div>

<p id="token-result"></p>


<!--<a id="testUserInfo" href="javascript:userInfo()">test</a>-->

<span th:text="${code}"></span>

<!--<a id="kakao-login-btn"></a>-->

</body>

</html>