<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <title>내 정보 수정</title>
</head>
<body>

<h1> 내  정보 수정</h1>
<form action="updateUser" method="post">
<input type="hidden" name="password" th:value="${user.password}"/>
<input type="hidden" name="userId" th:value="${user.userId}"/>


이름 : <input type="text" th:value = "${user.userName}" name="userName"/></br>
닉네임 : <input type="text" th:value = "${user.nickname}" name="nickname"/></br>
이메일 : <input type="text" th:value = "${user.email}" name="email"></br>
좌우명 : <input type="text" th:value = "${user.motto}" name="motto"/></br>
<input type="submit" value="수정완료">

</form>
<input type="submit" value="회원탈퇴">
</body>

</html>