<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>deleteMonologue</title>

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style type="text/css">
body{
     background-image:url("/images/0101.jpg");
     background-repeat:no-repeat;
     background-size:auto;
     background-position:center;
     background-color:#b194e0;
     background-attachment: fixed;
}

</style>




</head>
<body>

<h1>여기는 모노로그그그그그그그 삭제에에에에엥에에ㅔㅇ</h1>

<!--아래에 있는 question은 mapper에 getQuestionList의 resultMap을 적어주면 된다    ${questionList} ==> 이거는 컨트롤러에서 addAttribute로 담아준 키값을 적어주면 된다-->
<div th:each="question : ${questionList}">

<form action="deleteMonologue" method="post">
<input type="hidden" th:value=${question.questionId} name="questionId"/>

<span th:text=${question.questionId}/>
<span th:text=${question.questionText}/>

<span><input type="submit" name="deleteMonologue" value="삭제하기">

</form>


</div>



</body>
</html>
