<!DOCTYPE html>
<html>
<!-- <xmlns:th="http://www.thymeleaf.org"> -->
<head>
<meta charset="UTF-8">
<title>deleteMonologue</title>

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style type="text/css">
body{
     background-image:url("/images/0101.jpg");
     background-repeat:no-repeat;
     background-size:auto;
     background-position:center;
     background-color:#b194e0;
     background-attachment: fixed;
}

</style>




</head>
<body>

<h1>여기는 모노로그그그그그그그 삭제에에에에엥에에ㅔㅇ</h1>
<!-- <h2 th:text="${monologue.questionTest}"/> -->



     
<form action="addMonologueText"  method="post">
     monologue <input type="text" name="monologueText"> </br>
     <input type="submit" value="저장~☆">
</form>





</body>
</html>
</html>