<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  
<head>
<meta charset="UTF-8">
<title>GET MONOLOGUE</title>

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style type="text/css">
body{
     background-image:url("/images/0101.jpg");
     background-repeat:no-repeat;
     background-size:auto;
     background-position:center;
     background-color:#b194e0;
     background-attachment: fixed;
}

</style>



</head>
<body>

<h1>여기는 모노로그으으으으으으 상세보기이이이이이이이</h1>


<!-- <input type="text" name="questionId" th:value="${monologue.questionId}"/> -->


<form action="updateMonologue" method="get">
<input type="hidden" th:value="${monologue.monologueId}" name="monologueId"/>
<input type="hidden" th:value="${monologue.questionId}" name="questionId"/>
<span>질문 :</span> <span th:text="${monologue.questionText}"/>
<h2 th:text="${monologue.monologueText}"/>
<input type="submit" value="수정~★">


</form>





</body>
</html>

