<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>MONOLOGUE LIST</title>
    <link rel="icon" type="image/png" href="http://example.com/myicon.png">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="../../js/monologue/monologueList.js"></script>
	<link rel="stylesheet" href='../../css/diary/diary.css' />
	<link rel="stylesheet" href='../../css/monologue/monologue.css' />
    <link rel="stylesheet" href='../../css/main/menu.css' />
    <script src="../../js/main/main.js"></script>
    <!--<script type="text/javascript">
     $(function(){
         $("#test").on("click",function(){
             alert("test");
             $.ajax({
                  type:"GET",
                    url:"/restMonologue/getMonologueList",
        //	        data : {name : "홍길동"},    //html에서 restController로 보내주는 값  ex) userId 같은거
    //		        dataType : "xml",
                    success: function(data){//server가 return 성공했을때

                        console.log(data);
                        $.each(data,function(index,item){ //반복문
                            console.log(index+"="+item.monologueText);      //sysout
                            $("#test02").append("<span>"+item.monologueText+"</span>");    //밑에 적어준 test02에 접근해서 monologueText를 뽑아와서 계속 추가해주겠다~
                        })
                    },
                    error: function(xhr, status, error) {
                        alert(error);
                    }

             })

         })

     })
    </script>-->
</head>
<body>
<!-- 
  <div th:each="monologue : ${monologueList}" id="test02">

    <input type="hidden" th:value=${monologue.monologueId} name="monologueId"/>
    <input type="hidden" th:value=${monologue.questionId} name="questionId"/>
    <a th:href="@{./getMonologue(monologueId=${monologue.monologueId},questionId=${monologue.questionId})}"/>
    <span th:text=${monologue.questionText}/>

</div> -->

<!-- <input type="button" id="test" value="확인"/> -->

<form method="get" action="">
	<div id="tempIcon" style="float: right; padding-left: 10px; padding-right: 10px; font-size: 20px">   &#8451;</div> &nbsp;
	<div id="temparature" style="float: right; padding-left: 20px; font-size: 20px"></div>
	<img src="" id="img" width="30px" height="30px" style="float: right; font-size: 20px"/>
	<div id="location" style="float: right; padding-left: 10px; padding-right: 20px; font-size: 20px">&#127759;          </div>

	<br><br>
	<h1 class="pageTitle">Monologue</h1>
	<br><br>

	<div class="tabs">
		<ul class="tab-links">
			<li id="fisrtTab" class="active"><a href="#tab1" id="getMonologueList" >&#128198;</a></li>
			<li id="secondTab"><a href="#" id="getOthersMonologueList" >&#128172;</a></li>
			<li id="thirdTab"><a href="#"  id="deleteMonologue" >&#128107;</a></li>
		</ul>
	</div>

	<div class="text">
		<a href="#" style="float: right; font-size: 20px;" class="deleteUnactive" hidden>&#10006;</a>

		<div class="team-grid">
			<div class="container">
				<!--                    <div class="intro">-->
				<!--                        <h2 class="text-center">Team </h2>-->
				<!--                        <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet.  </p>-->
				<!--                    </div>-->
				<div class="monologueList">
					<div name="listSet" class="col-md-4 col-lg-3 item" th:each="monologue : ${monologueList}" id="monologueList">
						<!--                            <input type="checkbox" class="deleteActive" name="deleteActive" id="deleteActive" th:value="${diary.diaryId}" style=";float: left;" hidden/>-->
						<div th:text="${monologue.questionText}" th:onclick="getMonologue([[${monologue.monologueId}]],[[${monologue.questionId}]])" style="cursor:pointer;"></div>
						<input type="hidden" th:value=${monologue.questionId} name="questionId"/>
						
						
						<br>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" th:value=${user.userId} id="userId"/>
		
</form>


<input type="checkbox" id="menuToggler" class="input-toggler" />
<label for="menuToggler" class="menu-toggler">
    <span class="menu-toggler__line"></span>
    <span class="menu-toggler__line"></span>
    <span class="menu-toggler__line"></span>
</label>
<aside class="sidebar">
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="/user/login">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="/user/getUser">Profile</a></li>
        <li class="menu__item"><a class="menu__link" href="/diary/getDiaryList">Diary</a></li>
        <li class="menu__item"><a class="menu__link" href="/calendar/mainCalendar">Calendar</a></li>
        <li class="menu__item"><a class="menu__link" href="/monologue/getMonologueList">Monologue</a></li>
        <li class="menu__item"><a class="menu__link" href="/user/logout">Logout</a></li>
    </ul>


</aside>





</body>
</html>
