<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  
<head>
<meta charset="UTF-8">
<title>1문1답 수정</title>

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../../images/icon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href='../../css/monologue/updateMonologue.css' />
    <script>
        $(function(){
            var check = $("input[type='checkbox']");
            check.click(function(){
                $("p.toggle").toggle();
                if($("input[type='checkbox']").val()==1){
                    $("input[type='checkbox']").val(0)
                }else{
                    $("input[type='checkbox']").val(1)
                }
                console.log($("input[type='checkbox']").val());
                // $('#checkbox').is("checked").attr("value", 1);

            });

            // const check=$("input[type='checkbox']");
            // check.click(function(){
            //     $("p.toggle").toggle();
            //
            // });
        })
    </script>


</head>
<body>

<h1>1문1답 수정</h1>

<form action="updateMonologue" method="post">
    <input type="hidden" th:value="${monologue.monologueId}" name="monologueId"/>
    <input type="hidden" th:value="${monologue.questionId}" name="questionId"/>
    <input type="hidden" th:value="${monologue.userId}" name="userId"/>
    <input type="hidden" th:value="${monologue.shareStatus}" name="shareStatus" >

    <div class="container">

        <div id="questionText" th:text="${monologue.questionText}"/>
        <input type="hidden" name="questionText" th:value="${monologue.questionText}"/>
        <input type="text" class="text" id="text" name="monologueText" th:value="${monologue.monologueText}"/>
        <!-- <input type="submit" id="modifyMonologue" style="display:none;" value="&#128214; 수정"> -->

    </div>
    <input type="submit" id="modifyMonologue" value="수정완료">
    <span style="float: right" id="shareGroup">
            <span id="shareBtn">&#9964; 일기공유</span> &nbsp;&nbsp;

            <label class="switch">
                <input type="checkbox" name="shareStatus" class="checkbox" width="20" height="10" value=0>

                <span class="slider round"></span>
            </label>
                <p class="toggle" value="0">OFF</p>
                <p class="toggle" style="display:none;" value="1">ON</p>
        </span>
</form>








</body>
</html>