
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="../../images/icon/favicon.ico" type="image/x-icon">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href='../../css/main/menu.css' />
    <link rel="stylesheet" href='../../css/diary/emotion.css' />
    <link rel="stylesheet" href='../../css/diary/diary.css' />
    <script src="../../js/main/menu.js"></script>
    <script src="../../js/diary/emotion.js"></script>

</head>
<body>
<form name="emotionSelect" onsubmit="return goWrite()" action="/diary/write" method="get">
<br><br>

<h1 align="center">감정을 선택해보세요!</h1>

<div class="emotion">

    <label><input type="radio" id="기쁨" name="emotionNo" value="1"/><img src="../../images/emotions/really.png"></label>
    <label><input type="radio" id="슬픔" name="emotionNo" value="2"/><img src="../../images/emotions/sad.png"></label>
    <label><input type="radio" id=화남 name="emotionNo" value="3"/><img src="../../images/emotions/angry.png"></label>
    <label><input type="radio" id="사랑" name="emotionNo" value="4"/><img src="../../images/emotions/love.png"></label><br>
    <label><input type="radio" id="심각" name="emotionNo" value="5"/><img src="../../images/emotions/disappoint.png"></label>
    <label> <input type="radio" id="핑크" name="emotionNo" value="6"/><img src="../../images/emotions/pink.png"></label>
    <label> <input type="radio" id="그냥그럼" name="emotionNo" value="7"/><img src="../../images/emotions/soso.png"></label>
    <label> <input type="radio" id="아주좋음" name="emotionNo" value="8"/><img src="../../images/emotions/very smile.png"></label><br>
    <label> <input type="radio" id="조금 핑크" name="emotionNo" value="9"/><img src="../../images/emotions/little pink.png"></label>
    <label>  <input type="radio" id="좋아요" name="emotionNo" value="10"/><img src="../../images/emotions/goooood.png"></label>
    <label>  <input type="radio" id="죽음" name="emotionNo" value="11"/><img src="../../images/emotions/dead.png"></label>
    <label>  <input type="radio" id="아픔" name="emotionNo" value="12"/><img src="../../images/emotions/sick.png"></label><br>
    <label>  <input type="radio" id="뭐야" name="emotionNo" value="13"/><img src="../../images/emotions/wtf.png"></label>
    <label> <input type="radio" id="걱정" name="emotionNo" value="14"/><img src="../../images/emotions/worry.png"></label>
    <label><input type="radio" id="놀람" name="emotionNo" value="15"/><img src="../../images/emotions/surprise.png"></label>
    <label> <input type="radio" id="무표정" name="emotionNo" value="16"/><img src="../../images/emotions/nothing.png"></label>

    <br><br><br>
    <input type="submit" id="submit" value="선택"/>

</div>
</form>



<input type="checkbox" id="menuToggler" class="input-toggler" />
<label for="menuToggler" class="menu-toggler">
    <span class="menu-toggler__line"></span>
    <span class="menu-toggler__line"></span>
    <span class="menu-toggler__line"></span>
</label>
<aside class="sidebar">
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="/user/login">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="/user/getUser">Profile</a></li>
        <li class="menu__item"><a class="menu__link" href="/diary/getDiaryList">Diary</a></li>
        <li class="menu__item"><a class="menu__link" href="/calendar/mainCalendar">Calendar</a></li>
        <li class="menu__item"><a class="menu__link" href="/monologue/getMonologueList">Monologue</a></li>
        <li class="menu__item"><a class="menu__link" href="/user/logout">Logout</a></li>
    </ul>


</aside>
</body>
</html>