
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-image: url("https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819652_960_720.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            text-align: center;
        }
        div {
            margin: 100px 360px 10px;
            padding: 20px;
            background-color: #ffffff;
            background-color: rgba(255, 255, 255, 0.5)  ;
        }
    </style>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
        // $(function (){
        //     $('#submit').on("click", function (){
        //         console.log()
        //         self.location = "/diary/write"
        //     })
        // })
    </script>
</head>
<body>
<form action="/diary/write" method="get">
<br><br>

<h1 align="center">감정을 선택해보세요!</h1>

<div>
    <input type="radio" id="기쁨" name="emotionNo" value="1"/> <span style="font-size: 50px"> <img src="../../images/emotions/really.png"> </span>
    <input type="radio" id="슬픔" name="emotionNo" value="2"/> <span style="font-size: 50px"> <img src="../../images/emotions/sad.png"> </span>
    <input type="radio" id=화남 name="emotionNo" value="3"/> <span style="font-size: 50px"> <img src="../../images/emotions/angry.png"> </span>
    <input type="radio" id="사랑" name="emotionNo " value="4"/> <span style="font-size: 50px"> <img src="../../images/emotions/love.png"> </span><br>
    <input type="radio" id="심각" name="emotionNo" value="5"/> <span style="font-size: 50px"> <img src="../../images/emotions/disappoint.png"> </span>
    <input type="radio" id="핑크" name="emotionNo" value="6"/> <span style="font-size: 50px"> <img src="../../images/emotions/pink.png"> </span>
    <input type="radio" id="그냥그럼" name="emotionNo" value="7"/> <span style="font-size: 50px"> <img src="../../images/emotions/soso.png"> </span>
    <input type="radio" id="아주좋음" name="emotionNo" value="8"/> <span style="font-size: 50px"> <img src="../../images/emotions/very smile.png"> </span><br>
    <input type="radio" id="조금 핑크" name="emotionNo" value="9"/> <span style="font-size: 50px"> <img src="../../images/emotions/little pink.png"> </span>
    <input type="radio" id="좋아요" name="emotionNo" value="10"/> <span style="font-size: 50px"> <img src="../../images/emotions/goooood.png"> </span>
    <input type="radio" id="죽음" name="emotionNo" value="11"/> <span style="font-size: 50px"> <img src="../../images/emotions/dead.png"> </span>
    <input type="radio" id="아픔" name="emotionNo" value="12"/> <span style="font-size: 50px"> <img src="../../images/emotions/sick.png"> </span><br>
    <input type="radio" id="뭐야" name="emotionNo" value="13"/> <span style="font-size: 50px"> <img src="../../images/emotions/wtf.png"> </span>
    <input type="radio" id="걱정" name="emotionNo " value="14"/> <span style="font-size: 50px"> <img src="../../images/emotions/worry.png"> </span>
    <input type="radio" id="놀람" name="emotionNo" value="15"/> <span style="font-size: 50px"> <img src="../../images/emotions/surprise.png"> </span>
    <input type="radio" id="무표정" name="emotionNo" value="16"/> <span style="font-size: 50px"> <img src="../../images/emotions/nothing.png"> </span>
    <br><br><br>
    <input type="submit" id="submit" value="선택"/>

</div>
</form>
</body>
</html>