<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>secretary</title>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    body{
            background-image: url("https://source.unsplash.com/1920x1080/?nature");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;


    }
    #clock{

        text-align: center;
        font-size:75px;
    }
    #menu{

        font-size:50px;
    }
    #weather{

        font-size: 40px;
    }


</style>
    <script>
        $(function() {
            setInterval(function() {
                var nTime = new Date();
                var hour = nTime.getHours();
                var minutes = nTime.getMinutes();

                var time = (hour >= 12 ? "PM  " : "AM  ")
                    + (hour > 10 ? "0" + (hour - 12) : hour) + ":"
                    + (minutes >= 10 ? minutes : "0" + minutes);

                $("#clock").text(time);
            }, 1000);

        })
    </script>




</head>


<body>
<audio id="myaudio" controls autoplay="autoplay">
    <source id="main">
    <source src="../music/sb_growingup.mp3">
    <source src="../music/Charms - 02 Train by Sergey Cheremisinov.mp3">
    <source src="../music/Childhood by Scott Buckley (Music promoted by Audio Library).mp3">
    <source src="../music/Clarion – Scott Buckley (No Copyright Music).mp3">
    <source src="../music/close your eyes – Rexlambo (No Copyright Music).mp3">
    <source src="../music/Home – Neutrin05 (No Copyright Music).mp3">
    <source src="../music/kv-ocean.mp3">
    <source src="../music/Reverie - Scott Buckley (Music promoted by Audio Library).mp3">
    <source src="../music/To Count The Stars – Sapajou (No Copyright Music).mp3">
    <source src="../music/Wistful Rain by Ghostrifter Official · [Free Copyright-safe Music].mp3">
</audio>
<button id='play-next'>&#9654;</button>

<script src="//code.jquery.com/jquery.min.js"></script>
<script>
    var index = 1;
    $('#play-next').click(function() {
        index++;
        if(index > $('#myaudio source').length) index=2;
        console.log( index + '번째 소스 재생' );

        $('#myaudio source#main').attr('src',
            $('#myaudio source:nth-child('+index+')').attr('src'));
        $("#myaudio")[0].load();
        $("#myaudio")[0].play();
    });
</script>



<!----------------------------------- music end------------------->
<header>
    <div  id="menu"  style="float: left">menu</div>
    <div  id="weather" style="float: right">weather</div>
</header>
<div>
    <div id="clock" style="color:#000000"></div>
</div>


<!--------------------- 알람 관련------------------------->
<style>
    .nav-counter {
        position:absolute;
        top: -1px;
        right: 1px;
        min-width: 8px;
        height: 20px;
        line-height: 20px;
        margin-top: -11px;
        padding: 0 6px;
        font-weight: normal;
        font-size: small;
        color: white;
        text-align: center;
        text-shadow: 0 1px rgba(0, 0, 0, 0.2);
        background: #e23442;
        border: 1px solid #911f28;
        border-radius: 11px;
        background-image: -webkit-linear-gradient(top, #e8616c, #dd202f);
        background-image: -moz-linear-gradient(top, #e8616c, #dd202f);
        background-image: -o-linear-gradient(top, #e8616c, #dd202f);
        background-image: linear-gradient(to bottom, #e8616c, #dd202f);
        -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
        box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.12);
    }

    .button {
        display: compact;
        vertical-align: middle;
        border: none;
        height: 32px;
        line-height: 30px;
        padding: 0px;
        font-size: 40px;
        margin: 0;
        text-decoration: none;
        text-align: center;
        float: bottom;
    }
</style>
<br>
<p class="docbtn">
    <a href="#" onclick="getAlarmList()" id="alarmBtn" class="button" style="width:50px; position: absolute;">&#128276;<span class="nav-counter" th:text="${count}"></span></a>
    <ul id="alarmLi">

    </ul>
</p>

<script>
    function getAlarmList(){
        alert("종알람 리스트 가져옴");
        $.ajax({
            url : "/restAlarm/getAlarmList",
            method : "GET",
            cache : false,
            contentType : "application/json",
            success : function(alarmList){
                console.log(alarmList);
                $.each(alarmList, function (i, item){
                    if(item.diaryId == 0 && item.monologueId == 0){
                        $('#alarmLi').append(
                            "<li id='getLimitReasons' value='" + item.userId + "'>" + item.userId + "님" + item.alarmText + "</li>"
                        )
                    }else if(item.monologueId == 0){
                        $('#alarmLi').append(
                            "<li id='getDiary' value='" + item.diaryId + "'>" + item.userId + "님!" + item.alarmText + "</li>"
                        )
                    }else{
                        $('#alarmLi').append(
                            "<li id='getMonologue' value='" + item.monologueId + "'>" + item.userId + "님!" + item.alarmText + "</li>"
                        )
                    }
                })
                $('#alarmLi').append("<span id='deleteAlarmList' style='font-size: 10px'>&#128465; 목록지우기</span>")
            }

        })
    };

    $(document).on("click", "#getDiary", function (){
        alert("getDiary");
        $.ajax({
            url : "/restAlarm/seenDiaryAlarm",
            method : "POST",
            dataType : "json",
            data : {diaryId:$(this).attr('value')},
            success :

                 self.location="/diary/getDiary?diaryNo="+$(this).attr("value")

        });
    });

    $(document).on("click", "#getMonologue", function (){
        alert("getMonologue");
        $.ajax({
            url : "/restAlarm/seenMonologueAlarm",
            method : "POST",
            dataType : "json",
            data : {monologueId:$(this).attr('value')},
            success :


                    self.location = "/monologue/getMonologue?monologueId=" + $(this).attr("value")

        });
    });

    $(document).on("click", "#deleteAlarmList", function (){
        const id = $('#getLimitReasons').attr('value');
        alert("알림 목록을 전부 지우시겠습니까?");
        alert(id);
        if(id != null) {
                $.ajax({
                   url : "/restAlarm/deleteAlarmList",
                    method : "POST",
                    dataType : "json",
                    data : {userId:$('#getLimitReasons').attr('value')},
                    success :
                    getAlarmList()
                });
        }else{
            alert("지울 항목이 없습니다")
        }
     });
</script>

<div id="my_modal">
    <a class="modal_close_btn" hidden>닫기</a>

</div>

<script>
    function modal(id) {
        var zIndex = 9999;
        var modal = document.getElementById(id);

        // 모달 div 뒤에 희끄무레한 레이어
        var bg = document.createElement('div');
        bg.setStyle({
            position: 'fixed',
            zIndex: zIndex,
            left: '0px',
            top: '0px',
            width: '100%',
            height: '100%',
            overflow: 'auto',
            // 레이어 색갈은 여기서 바꾸면 됨
            backgroundColor: 'rgba(0,0,0,0.4)'
        });
        document.body.append(bg);

        // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
        modal.querySelector('.modal_close_btn').addEventListener('click', function() {
            bg.remove();
            $('.modal_close_btn').hidden;
            window.location.reload();
            modal.style.display = 'none';
        });

        modal.setStyle({
            position: 'fixed',
            display: 'block',
            boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',
            backgroundColor: 'white',

            // 시꺼먼 레이어 보다 한칸 위에 보이기
            zIndex: zIndex + 1,

            // div center 정렬
            top: '50%',
            left: '50%',
            transform: 'translate(-50%, -50%)',
            msTransform: 'translate(-50%, -50%)',
            webkitTransform: 'translate(-50%, -50%)'
        });
    }

    // Element 에 style 한번에 오브젝트로 설정하는 함수 추가
    Element.prototype.setStyle = function(styles) {
        for (var k in styles) this.style[k] = styles[k];
        return this;
    };

    $(document).on("click", "#getLimitReasons", function(){
        // 모달창 띄우기
        $.ajax({
            url : "/restAlarm/getLimitReasons",
            type : "GET",
            dataType : "json",
            data : {userId:$(this).attr('value')},
            headers: { //excess 제어요청 헤더, n : v 형식으로 헤더 추가하면 url의 request header에서 해당 헤더로 값을 얻어올 수 있다.
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            success : function (limitReasonList){
                console.log(limitReasonList);
                $('.modal_close_btn').show();
                $('#limitDetail').remove();
                $("#my_modal").append(
                                    "<div id='limitDetail'><h1> 사용자 공유 제한 </h1>\n" +
                                    "<p>해당 계정은 최근 공유한 게시물에서 다음과 같은 신고가 다수 발생하여<br/>" +
                                    "운영진의 판단하에 공유 제한이 조치되었습니다.<br/>" +
                                    "다른 유저에게 불쾌감을 주거나 특정 인물을 언급하여 비하하는 등의 언행은<br/>" +
                                    "제재의 대상이 될 수 있습니다. <br/>" +
                                    "향후에도 재차 이와 같은일이 발생 시 보다 강도 높은 수준의 제재가 <br/>" +
                                    "이루어질 수 있으니 유의해주시기 바랍니다." +
                                    "<table id='modalTable' border='1'>" +
                    "<th>게시물id</th>" +
                    "<th>신고사유타입</th>" +
                    "<th>상세신고사유</th>" +
                    "<th>신고날짜</th>" +
                    "</table></div>")
                $.each(limitReasonList, function (i,item){
                    console.log(item);
                    if(item.monologueId == 0) {
                        $("#modalTable").append(
                            "<tr>\n" +
                            "        <td><a href='/diary/getDiary?diaryNo=" + item.diaryId + "'>" + item.diaryId + "</a></td>\n" +
                            "        <td>" + item.reportReasonId + "</td>\n" +
                            "        <td>" + item.reportText + "</td>\n" +
                            "        <td>" + item.reportDate + "</td>\n" +
                            "    </tr>"
                        )
                    }else{
                        $("#modalTable").append(
                            "<tr>\n" +
                            "        <td><a href='/monologue/getMonologue?monologueId=" + item.monologueId + "'>" + item.monologueId + "</a></td>\n" +
                            "        <td>" + item.reportReasonId + "</td>\n" +
                            "        <td>" + item.reportText + "</td>\n" +
                            "        <td>" + item.reportDate + "</td>\n" +
                            "    </tr>"
                        )
                    }
                })
            }
        })
        modal('my_modal');
    });

    $(document).on("click", "#getMonologueReportReason", function(){
        // 모달창 띄우기
        $.ajax({
            url : "/restMonologue/getMonologueReportReason",
            type : "GET",
            dataType : "json",
            data : {monologueId: $(this).attr("class")},
            headers: { //excess 제어요청 헤더, n : v 형식으로 헤더 추가하면 url의 request header에서 해당 헤더로 값을 얻어올 수 있다.
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
            success : function (reportList){
                console.log(reportList);
                $("#modalTable").remove();
                $("#my_modal").append("<table id='modalTable' border='1'>\n" +
                    "    <th>신고자ID</th>\n" +
                    "    <th>사유번호</th>\n" +
                    "    <th>신고날짜</th>\n" +
                    "    <th>신고사유</th>\n" +
                    "</table>")
                $.each(reportList, function (i,item){
                    console.log(item);
                    $("#modalTable").append(
                        "<tr>\n" +
                        "        <td>" + item.reporterId + "</td>\n" +
                        "        <td>" + item.reportReasonId + "</td>\n" +
                        "        <td>" + item.reportDate + "</td>\n" +
                        "        <td>" + item.reportText + "</td>\n" +
                        "    </tr>"
                    )
                })
            }
        })
        modal('my_modal');
    });


</script>


<!-------------------- 알람 관련 끝------------------------>







</body>
</html>