<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>secretary</title>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" href='../../css/main/main.css' />
<link rel="stylesheet" href='../../css/main/menu.css' />
<script src="../../js/main/main.js"></script>
<script src="../../js/main/menu.js"></script>
<link rel="shortcut icon" href="../../images/icon/favicon.ico" type="image/x-icon">
</head>


<body>
<!--<audio id="myaudio" controls autoplay="autoplay">-->
<!--    <source id="main">-->
<!--    <source src="../music/sb_growingup.mp3">-->
<!--    <source src="../music/Charms - 02 Train by Sergey Cheremisinov.mp3">-->
<!--    <source src="../music/Childhood by Scott Buckley (Music promoted by Audio Library).mp3">-->
<!--    <source src="../music/Clarion – Scott Buckley (No Copyright Music).mp3">-->
<!--    <source src="../music/close your eyes – Rexlambo (No Copyright Music).mp3">-->
<!--    <source src="../music/Home – Neutrin05 (No Copyright Music).mp3">-->
<!--    <source src="../music/kv-ocean.mp3">-->
<!--    <source src="../music/Reverie - Scott Buckley (Music promoted by Audio Library).mp3">-->
<!--    <source src="../music/To Count The Stars – Sapajou (No Copyright Music).mp3">-->
<!--    <source src="../music/Wistful Rain by Ghostrifter Official · [Free Copyright-safe Music].mp3">-->
<!--</audio>-->
<!--<button id='play-next'>&#9654;</button>-->





<!--------------------- 알람 관련------------------------->

<!--<br>-->
<!--<p class="docbtn">-->
<!--    <a href="#" onclick="getAlarmList()" id="alarmBtn" class="button" style="width:50px; position: absolute;">&#128276;<span class="nav-counter" th:text="${count}"></span></a>-->
<!--    <ul id="alarmLi">-->

<!--    </ul>-->
<!--</p>-->

<!--<div id="my_modal">-->
<!--    <a class="modal_close_btn" hidden>닫기</a>-->

<!--</div>-->

<!-------------------- 알람 관련 끝------------------------>
<p id = "status"></p>
<a id = "map-link" target="_blank"></a>
<div class="weathers" style="float: right; font-size: 20px;">
    <span id="location"><img src="../../images/weather/plane.png" style="width: 20px; height: 20px; margin-right: 10px;"></span>
    <img src="" id="img" width="20" height="20" />
    <span id="temparature"></span>
    <span id="tempIcon">   &#8451;</span> &nbsp;
</div>

<script>
    function beforeLogin(){
        Swal.fire({
            icon: 'info',
            width: 500,
            title: '로그인이 필요한 서비스입니다!',
            text: '',
            footer: "<a href='/user/login'>로그인하시겠습니까?</a>"
        })
        e.preventDefault();
    };
</script>
<div class="wrapper">

    <input type="checkbox" id="menuToggler" class="input-toggler" />
    <label for="menuToggler" class="menu-toggler">
        <span class="menu-toggler__line"></span>
        <span class="menu-toggler__line"></span>
        <span class="menu-toggler__line"></span>
    </label>
    <aside class="sidebar">
        <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="#Home">Home</a></li>
            <li class="menu__item"><a class="menu__link" href="#Blog" onclick="beforeLogin()">Profile</a></li>
            <li class="menu__item"><a class="menu__link" href="#Portfolio" onclick="beforeLogin()">Diary</a></li>
            <li class="menu__item"><a class="menu__link" href="#Calendar" onclick="beforeLogin()">Calendar</a></li>
            <li class="menu__item"><a class="menu__link" href="#Contact" onclick="beforeLogin()">Monologue</a></li>
        </ul>
         <a class="Logintooltip">
             <img src="../../images/main/userLogin1.png" style="width: 50px; height: 50px">

             <span class="tip">
                 <div class="arrow"></div>
                 <ul>
                     <li id="login" onclick="goLogin('/user/login')">Login</li>
                     <li id="logout" onclick="goLogin('/user/logout')">Logout</li>
                 </ul>
             </span>
         </a>
    </aside>

    <main class="content">
        <span id="clock"></span>
        <span id="welcomeText">
            <h1>SECRETARY에 오신걸 환영합니다.</h1>
            <br>
            <p >로그인 후 SECRETARY를 이용해 보세요!</p >
        </span>
<!--        <div id="Home">-->
<!--            <h1>Home</h1>-->
<!--            <p>This is the home page.</p>-->
<!--        </div>-->
    </main>

</div>




</body>
</html>