@font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --sidebar-width: 250px;
    --toggler-size: 40px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 0.8rem;
}

.wrapper {

    min-height: 80vh;
    min-width: 100vw;
    /*background: AliceBlue;*/
    display: flex;
}

.sidebar {
    font-family: 'MapoGoldenPier';
    width: var(--sidebar-width);
    height: 100%;
    transform: translateX(calc(var(--sidebar-width) * -1));
    background: linear-gradient(to bottom right, #ffffff, #424141);
    background-size: 400% 400%;
    background-position: 90% 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: fixed;
    left:0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    transition: transform .6s, background-position 1s .6s;
}

.input-toggler:checked ~ .sidebar {
    opacity: .9;
    transform: translateX(0);
    background-position: 0 0;
}

.content, .content div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.content div{
    margin-top: 10%;
}

.content div[id] {
    display: none;
}

.content a[id="todoContainer"]{
    text-decoration: none;
}

.menu {
    list-style-type: none;
}

.menu__link {
    color: #050505;
    font-weight: 80;
    text-decoration: none;
    font-size: 2rem;
    line-height: 5rem;
    margin-top: 15px;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
    color: #000000;
}


.menu-toggler {
    display: block;
    width: var(--toggler-size);
    height: var(--toggler-size);
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1;
}

.menu-toggler__line {
    height: calc(var(--toggler-size) / 5);
    background: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    transition-property: transform, opacity;
    transition-duration: .5s, .25s;
    transition-delay: 0s, .5s;
    animation-name: slidein;
    animation-duration: .5s;
    animation-iteration-count:1;
    animation-timing-function: ease-out;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line {
    transition-delay: .25s, 0s;
}


.menu-toggler__line:nth-child(2) {
    top: calc(var(--toggler-size) / 5 * 2);
    animation-duration: .6s;
}

.menu-toggler__line:nth-child(3) {
    top: calc(var(--toggler-size) / 5 * 4);
    animation-duration:.7s;
}

.input-toggler {
    display: none;

}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line {
    background: #ffffff;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(1) {
    transform: translateY(calc(var(--toggler-size) / 5 * 2)) rotate(45deg);
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(2) {
    opacity: 0;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler__line:nth-child(3) {
    transform: translateY(calc(var(--toggler-size) / 5 * -2)) rotate(-45deg);
}


@keyframes slidein {
    from {left: -100%; right:100%;}
    to {left: 10%; right: 10%;}
}

.Logintooltip{
    position: absolute;
    bottom: 8px;
    left: 16px;
    display:inline-block;
    cursor:pointer;
}

.Logintooltip:hover .tip{
    opacity:1;
    margin-left:0;
    transition:1s;
}
.Logintooltip:hover .arrow{
    opacity:1;
    margin-left:0;
    transition:1s;
}

.tip{
    position: absolute; left: 100%; top: 50%; padding:5px 20px 0px; font-size: 0.8em;
    font-weight: normal; background: #34495e; border-radius: 1em; color: #fff;
    white-space: nowrap; transform:translateY(-50%);
    opacity:0;
    margin-left: 20px;
    transition: 1s;
}

.tip ul{
    list-style: none;
}

.arrow{
    position:absolute;
    content:'';
    width:0; height:0;
    border-style:solid;
    border-width:10px;
    right:100%;
    top:27%;
    border-color:transparent #34495e transparent transparent;
    opacity:0;
    padding-left: 20px;
    transition: 1s;
}

#login, #logout{
    cursor: pointer;
    font-size: 15px;
}

#login:hover, #logout:hover{
    text-decoration: underline;
}