 body{
            background-image: url("https://source.unsplash.com/user/senbro/likes");
            background-repeat:no-repeat;
            background-size: cover;
            font-family: 'Stylish', sans-serif;
        }

        h1{
            text-align: center;
            margin-top: 7%;
            font-size: 80px;
            color: white;
            text-shadow: 1px 1px black;
        }

        .container{
            display: grid;
            grid-template-areas:
                    "question question"
                    "answer answer"
                    "button1 button2";
            gap: 50px;
            align-items: stretch;
            margin-top: 5%;
        }

        #questionText{
            grid-area: question;
            color: white;
            font-size: 50px;
            text-decoration: underline;
            text-decoration-style: solid;
            text-decoration-thickness: 1px;
        }

        #monologueText{
            grid-area: answer;
            color: white;
            font-size: 40px;
            border: 1px solid white;
            border-radius: 3px;
            height: 200px;
        }

        #modifyMonologue{
            grid-area: button1;
            color: white;
            font-size: 25px;
            display: block;
            border: none;
            width: 30%;
            background-color: transparent;
            margin-left: 75%;
        }

        #reportModal{
            grid-area: button2;
            color: white;
            font-size: 25px;
            display: block;
            border: none;
            width: 30%;
            background-color: transparent;
            margin-left: 5%;
        }

        .translateBtns{
            margin-left: 46%;
        }

        .translateBtns span{
            color: white;
        }

        #source, #target{
            background-color: rgba(255, 255, 255, 0.5);
            border: none;
        }