@font-face {
    font-family: 'MapoGoldenPier';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 body{
            background-color:#dbdbdb;

        }

        h1{
            font-family: 'MapoGoldenPier';
            text-align: center;
            margin-top: 7%;
            font-size: 80px;
            color: #314e52;
        }

 .container{
     display: grid;
     grid-template-columns: 0;
     grid-template-rows: 1fr 4fr 1fr;
     gap: 20px;
     background-color: rgba(255, 255, 255, 1);
     padding: 30px;
     border-radius: 3px;
     align-content: center;
     background-color: transparent;
     width: 80%;
     border-top: 3px solid white;
     border-bottom: 3px solid white;
 }
 #questionText{
     font-family: 'MapoGoldenPier';
     text-align: center;
     font-size: 50px;
 }

     .text{
         font-size: 30px;
         grid-column: 2/3;
         grid-row: 2/3;
         font-family: 'MapoGoldenPier';
         width: 80%;
         height: 100%;
         margin: auto;
         padding: 1%;
         background-color: #ffffff;
         background-color: rgba(255, 255, 255, 0.5)  ;
     }

     .text:after{
         font-family: 'MapoGoldenPier';
         content: '';
         display: block;
         clear: both;
         height: 0;
         visibility: hidden;
     }

     .translateSelect{
         text-align: center;
     }


        #reportModal{
            grid-area: button2;
            color: white;
            font-size: 25px;
            display: block;
            border: none;
            width: 30%;
            background-color: transparent;
            margin-left: 5%;
        }

        .translateBtns{
            margin-left: 46%;
        }

        .translateBtns span{
            color: white;
        }

        #source, #target{
            background-color: rgba(255, 255, 255, 0.5);
            border: none;
        }

