<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nj.secretary.services.calendar.service.CalendarService">

    <resultMap id="calendarServiceMap" type="com.nj.secretary.services.calendar.domain.Calendar">
        <result property="userId" column="USER_ID" jdbcType="VARCHAR"/>
        <result property="calendarTitle" column="CALENDAR_TITLE" jdbcType="VARCHAR"/>
        <result property="calendarDetail" column="CALENDAR_DETAIL" jdbcType="VARCHAR"/>
        <result property="startDate" column="START_DATE" jdbcType="VARCHAR"/>
        <result property="endDate" column="END_DATE" jdbcType="VARCHAR"/>
        <result property="type" column="TYPE" jdbcType="INTEGER"/>
        <result property="backgroundColor" column="BACKGROUND_COLOR" jdbcType="VARCHAR"/>
        <result property="allDay" column="ALL_DAY" jdbcType="VARCHAR"/>

    </resultMap>

    <insert id="addCalendar" parameterType="com.nj.secretary.services.calendar.domain.Calendar">
        INSERT INTO calendar (CALENDAR_ID,USER_ID,CALENDAR_TITLE,CALENDAR_DETAIL,START_DATE,END_DATE,BACKGROUND_COLOR,ALL_DAY)
        values (calendar_seq.nextval,'${userId}','${calendarTitle}','${calendarDetail}','${startDate}','${endDate}','${backgroundColor}','${allDay}')

    </insert>

    <select id="getCalendarList" resultMap="calendarServiceMap">
        select user_id, calendar_title, calendar_detail, start_date, end_date, background_color, all_day
        from calendar
        where start_date &gt;= '${startDate}' and end_date &lt;='${endDate}' and user_id='${userId}'

    </select>


</mapper>