<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nj.secretary.services.diary.service.DiaryService">

    <resultMap id="diaryServiceMap" type="com.nj.secretary.services.diary.domain.Diary">
        <result property="diaryId" column="DIARY_ID" jdbcType="NUMERIC"/>
        <result property="userId" column="USER_ID" jdbcType="VARCHAR"/>
        <result property="emotionNo" column="EMOTION_ID" jdbcType="NUMERIC"/>
        <result property="location" column="LOCATION" jdbcType="VARCHAR"/>
        <result property="weather" column="WEATHER" jdbcType="VARCHAR"/>
        <result property="blindStatus" column="BLIND_STATUS" jdbcType="CHAR"/>
        <result property="deleteStatus" column="DELETE_STATUS" jdbcType="CHAR"/>
        <result property="diaryTitle" column="DIARY_TITLE" jdbcType="VARCHAR"/>
        <result property="diaryText" column="DIARY_TEXT" jdbcType="VARCHAR"/>
        <result property="likeCount" column="LIKE_COUNT" jdbcType="NUMERIC"/>
        <result property="deleteDate" column="DELETE_DATE" jdbcType="DATE"/>
        <result property="shareStatus" column="SHARE_STATUS" jdbcType="CHAR"/>
        <result property="diaryDate" column="DIARY_DATE" jdbcType="DATE"/>
        <result property="reportCount" column="REPORT_COUNT" jdbcType="NUMERIC"/>
        <result property="sortCondition" column="SORT_CONDITION" jdbcType="NUMERIC"/>
        <result property="emotionName" column="EMOTION_NAME" jdbcType="VARCHAR"/>
        <result property="emotionImg" column="EMOTION_IMG" jdbcType="VARCHAR"/>
        <result property="fileId" column="FILE_ID" jdbcType="NUMERIC"/>
        <result property="fileName" column="FILE_NAME" jdbcType="VARCHAR"/>
        <result property="imageName" column="IMAGE_NAME" jdbcType="VARCHAR"/>
        <result property="fileStatus" column="FILE_STATUS" jdbcType="VARCHAR"/>
        <result property="reportReasonId" column="report_reason_id" jdbcType="CHAR"/>
        <result property="reporterId" column="reporter_id" jdbcType="VARCHAR"/>
        <result property="reportDate" column="report_date" jdbcType="DATE"/>
        <result property="reportText" column="report_text" jdbcType="VARCHAR"/>

    </resultMap>

    <resultMap id="diaryCalendar" type="com.nj.secretary.services.calendar.domain.IsDiary">
        <result property="id" column="DIARY_ID" jdbcType="NUMERIC"/>
        <result property="username" column="USER_ID" jdbcType="VARCHAR"/>
        <result property="emotionNo" column="EMOTION_ID" jdbcType="NUMERIC"/>
        <result property="imageUrl" column="EMOTION_IMG" jdbcType="VARCHAR"/>
        <result property="start" column="DIARY_DATE" jdbcType="DATE"/>
    </resultMap>
    
    <resultMap id="attachFile" type="com.nj.secretary.services.diary.domain.AttachFile">
        <result property="fileId" column="FILE_ID" jdbcType="NUMERIC"/>
        <result property="diaryId" column="DIARY_ID" jdbcType="NUMERIC"/>
        <result property="fileName" column="FILE_NAME" jdbcType="VARCHAR"/>
        <result property="fileStatus" column="FILE_STATUS" jdbcType="CHAR"/>
    </resultMap>

    <insert id="addDiary" parameterType="com.nj.secretary.services.diary.domain.Diary">

        INSERT INTO DIARY(diary_id, emotion_id, user_id, blind_status, delete_status, diary_title, diary_text, location, weather,  like_count, delete_date, share_status, report_count, diary_date, sort_condition)
        VALUES(diary_seq.nextval, #{emotionNo}, #{userId}, DEFAULT , DEFAULT , #{diaryTitle, jdbcType=VARCHAR}, #{diaryText, jdbcType=VARCHAR}, #{location}, #{weather}, DEFAULT, null, #{shareStatus}, DEFAULT, #{diaryDate}, 0)

    </insert>

    <select id="getDiaryList" resultMap="diaryServiceMap" parameterType="com.nj.secretary.services.diary.domain.Diary">
        SELECT * FROM (SELECT ROWNUM rnum , x.* from (SELECT d.DIARY_TITLE,d.DIARY_ID,d.LOCATION,d.WEATHER,d.DIARY_DATE,a.IMAGE_NAME,d.DIARY_TEXT, d.SHARE_STATUS FROM DIARY d, IMAGE a
                                                      WHERE d.user_id = #{userId} AND d.delete_status = 0 and d.DIARY_ID = a.DIARY_ID(+)
                                                      ORDER BY d.diary_date desc) x) h WHERE rnum between #{startNum} and #{endNum}
    </select>

    <select id="getOthersDiaryList" resultMap="diaryServiceMap" parameterType="com.nj.secretary.services.diary.domain.Diary">
        SELECT * FROM (SELECT ROWNUM rnum , x.* from (SELECT d.DIARY_TITLE,d.DIARY_ID,d.LOCATION,d.WEATHER,d.DIARY_DATE,a.IMAGE_NAME,d.DIARY_TEXT, d.SHARE_STATUS FROM DIARY d, IMAGE a
                                                      WHERE d.user_id != #{userId} AND d.delete_status = 0 and d.DIARY_ID = a.DIARY_ID(+) and d.SHARE_STATUS = 1
                                                      ORDER BY d.diary_date desc) x) h WHERE rnum between #{startNum} and #{endNum}
    </select>

    <update id="moveToBin" parameterType="integer">
        update DIARY set DELETE_STATUS = 1, DELETE_DATE = SYSDATE
        where DIARY_ID = #{diaryId}
    </update>

    <select id="getDiary" parameterType="integer" resultType="com.nj.secretary.services.diary.domain.Diary">
        SELECT d.DIARY_TITLE,d.USER_ID,d.DIARY_ID,d.LOCATION,d.WEATHER,d.DIARY_DATE,a.IMAGE_NAME,d.DIARY_TEXT,e.emotion_img, d.SHARE_STATUS FROM DIARY d, IMAGE a, EMOTIONS e
        WHERE d.DIARY_ID=${diaryNo} and d.DIARY_ID = a.DIARY_ID(+) and d.emotion_id = e.emotion_id
    </select>

    <select id="getEmotion" parameterType="integer" resultType="string">
        SELECT EMOTION_IMG FROM EMOTIONS WHERE EMOTION_ID = #{emotionId}
    </select>


    <update id="updateDiary" parameterType="com.nj.secretary.services.diary.domain.Diary">
        update DIARY set DIARY_TITLE=#{diaryTitle}
                          ,DIARY_TEXT=#{diaryText}
                          ,SHARE_STATUS=#{shareStatus}
        where DIARY_ID = #{diaryId}
    </update>

    <insert id="addTag" parameterType="String">
        INSERT INTO AttachFile(file_id, diary_id, file_name, file_status)
        VALUES(attachfile_seq.nextval, diary_seq.currval, #{value}, '0')
    </insert>

    <insert id="updateTag" parameterType="com.nj.secretary.services.diary.domain.AttachFile">
        INSERT INTO AttachFile(file_id, diary_id, file_name, file_status)
        VALUES(attachfile_seq.nextval, #{diaryId}, #{fileName}, '0')
    </insert>

    <insert id="addImage" parameterType="com.nj.secretary.services.diary.domain.Diary">
        INSERT INTO IMAGE(IMAGE_ID, DIARY_ID, IMAGE_NAME)
        VALUES(image_seq.nextval, diary_seq.currval, #{fileName})
    </insert>

    <update id="updateImage" parameterType="com.nj.secretary.services.diary.domain.Diary">
        update IMAGE set IMAGE_NAME=#{fileName}
        where DIARY_ID = #{diaryId}
    </update>


    <select id="getTagDiaryList" parameterType="String" resultMap="diaryServiceMap">
        SELECT
            DISTINCT a.file_name AS file_name
        FROM DIARY d, ATTACHFILE a
        WHERE d.diary_id=a.diary_id AND d.user_id = #{value} and a.FILE_STATUS = '0'AND d.delete_status='0'
        ORDER BY file_name desc
    </select>


    <select id="getReportedDiaryList" resultMap="diaryServiceMap">
        select DISTINCT diary_id, user_id, diary_title, report_count, blind_status
        from diary
        where report_count >= 3
    </select>

    <update id="setBlindDiary" parameterType="integer">
        {
            CALL
            BEGIN
            UPDATE (SELECT d.diary_id AS diary_id, u.user_id AS user_id, u.blind_count AS blind_count, d.blind_status AS blind_status, d.share_status AS share_status
            FROM diary d, users u
            WHERE d.user_id = u.user_id AND d.diary_id = #{value}) d
            SET d.blind_status = '1', d.share_status = '0';
            MERGE INTO users u
            USING (SELECT d.diary_id AS diary_id, u.user_id AS user_id, u.blind_count AS blind_count, d.blind_status AS blind_status, d.share_status AS share_status
            FROM diary d, users u
            WHERE d.user_id = u.user_id AND d.diary_id = #{value}) d
            ON (u.user_id = d.user_id)
            WHEN MATCHED THEN
                UPDATE SET u.blind_count = d.blind_count + 1, u.limit_end_date = null;
            END
        }
    </update>

    <select id="getDiaryEmotion" parameterType="com.nj.secretary.services.calendar.domain.Calendar" resultMap="diaryCalendar">
        SELECT to_char(d.DIARY_DATE,'yyyy-mm-dd') DIARY_DATE, d.DIARY_ID, e.EMOTION_IMG
        FROM DIARY d, EMOTIONS e
        WHERE d.USER_ID = #{username} and d.DIARY_DATE &gt;= #{start} and d.DIARY_DATE &lt;=#{end} and d.DELETE_STATUS = '0' and d.emotion_id = e.emotion_id
    </select>

    <select id="getBinList" parameterType="String" resultMap="diaryServiceMap">
        SELECT d.DIARY_TITLE,d.DIARY_ID,d.LOCATION,d.WEATHER,d.DIARY_DATE,a.IMAGE_NAME,d.DIARY_TEXT, d.SHARE_STATUS FROM DIARY d, IMAGE a
        WHERE d.user_id = #{value} and d.DIARY_ID = a.DIARY_ID(+) and d.DELETE_STATUS = '1'
        ORDER BY d.diary_date desc
    </select>


    <select id="getDiaryReportReason" parameterType="integer" resultMap="diaryServiceMap">
        SELECT report_reason_id, reporter_id, report_date, report_text
        FROM report
        WHERE diary_id = #{value}
    </select>

    <select id="getCount" parameterType="Object">
        SELECT COUNT(#{value}) from users
    </select>

    <update id="reportDiary" parameterType="integer">
        update DIARY set REPORT_COUNT = REPORT_COUNT + 1
        where DIARY_ID = #{diaryId}
    </update>

    <insert id="addReport" parameterType="com.nj.secretary.services.diary.domain.Report">
        insert into REPORT(REPORT_ID,REPORT_REASON_ID,DIARY_ID,MONOLOGUE_ID,REPORTER_ID,REPORT_DATE,REPORT_TEXT)
            VALUES(report_seq.NEXTVAL,#{reportReasonId},#{diaryId},#{monologueId},#{reporterId},SYSDATE,#{reportText})
    </insert>

    <select id="getTagedList" parameterType="hashMap" resultMap="diaryServiceMap">
        SELECT d.diary_id AS diary_id, d.diary_title AS diary_title, d.diary_date AS diary_date, d.weather AS weather, d.location AS location, a.file_name AS file_name, d.SHARE_STATUS AS share_status, i.image_name
        FROM DIARY d, ATTACHFILE a,IMAGE i
        WHERE d.diary_id=a.diary_id AND d.diary_id=i.diary_id AND d.user_id=#{userId} AND a.file_name=#{tag} AND d.delete_status='0'
    </select>

    <update id="likeDiary" parameterType="integer">
        update DIARY set LIKE_COUNT = LIKE_COUNT + 1
        where DIARY_ID = #{diaryId}
    </update>

    <insert id="addLike" parameterType="com.nj.secretary.services.diary.domain.Diary">
        INSERT INTO LIKES(LIKE_ID,DIARY_ID,LIKER_ID)
                VALUES(like_seq.NEXTVAL,#{diaryId},#{userId})
    </insert>

    <select id="checkLike" parameterType="com.nj.secretary.services.diary.domain.Diary" resultType="integer">
        SELECT COUNT(LIKER_ID)
        FROM LIKES
        WHERE DIARY_ID = #{diaryId} and LIKER_ID = #{userId}
    </select>

    <delete id="deleteTag" parameterType="integer">
        DELETE FROM ATTACHFILE
        WHERE DIARY_ID = #{diaryId}
    </delete>


    <select id="getTags" resultMap="attachFile" parameterType="integer">
        SELECT * FROM ATTACHFILE
        WHERE DIARY_ID=#{value}
    </select>

    <select id="isThumb" parameterType="integer" resultType="integer">
        SELECT COUNT(DIARY_ID) from IMAGE WHERE DIARY_ID = ${value}
    </select>

    <insert id="addThumb" parameterType="com.nj.secretary.services.diary.domain.Diary">
        INSERT INTO IMAGE(IMAGE_ID, DIARY_ID, IMAGE_NAME)
        VALUES(image_seq.nextval, #{diaryId}, #{fileName})
    </insert>

    <delete id="deleteThumb" parameterType="integer">
        DELETE FROM IMAGE
        WHERE DIARY_ID = #{diaryId}
    </delete>



























    <delete id="deleteDiary" parameterType="integer">
        DELETE FROM DIARY
        WHERE DIARY_ID = #{diaryId}
    </delete>

    <update id="recoverDiary" parameterType="integer">
        update DIARY set DELETE_STATUS = '0'
        where DIARY_ID = #{diaryId}
    </update>

    <select id="checkReporter" parameterType="com.nj.secretary.services.diary.domain.Report" resultType="integer">
        SELECT COUNT(REPORTER_ID)
        FROM REPORT
        WHERE DIARY_ID = #{diaryId} and REPORTER_ID = #{reporterId}
    </select>
</mapper>

