<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nj.secretary.services.diary.service.DiaryService">

    <resultMap id="diaryServiceMap" type="com.nj.secretary.services.diary.domain.Diary">
        <result property="diaryId" column="DIARY_ID" jdbcType="NUMERIC"/>
        <result property="userId" column="USER_ID" jdbcType="VARCHAR"/>
        <result property="emotionNo" column="EMOTION_ID" jdbcType="NUMERIC"/>
        <result property="location" column="LOCATION" jdbcType="VARCHAR"/>
        <result property="weather" column="WEATHER" jdbcType="VARCHAR"/>
        <result property="blindStatus" column="BLIND_STATUS" jdbcType="CHAR"/>
        <result property="deleteStatus" column="DELETE_STATUS" jdbcType="CHAR"/>
        <result property="diaryTitle" column="DIARY_TITLE" jdbcType="VARCHAR"/>
        <result property="diaryText" column="DIARY_TEXT" jdbcType="VARCHAR"/>
        <result property="likeCount" column="LIKE_COUNT" jdbcType="NUMERIC"/>
        <result property="deleteDate" column="DELETE_DATE" jdbcType="DATE"/>
        <result property="shareStatus" column="SHARE_STATUS" jdbcType="CHAR"/>
        <result property="diaryDate" column="DIARY_DATE" jdbcType="DATE"/>
        <result property="reportCount" column="REPORT_COUNT" jdbcType="NUMERIC"/>
        <result property="sortCondition" column="SORT_CONDITION" jdbcType="NUMERIC"/>
        <result property="emotionName" column="EMOTION_NAME" jdbcType="VARCHAR"/>
        <result property="emotionImg" column="EMOTION_IMG" jdbcType="VARCHAR"/>
        <result property="fileId" column="FILE_ID" jdbcType="NUMERIC"/>
        <result property="fileName" column="FILE_NAME" jdbcType="VARCHAR"/>
        <result property="fileStatus" column="FILE_STATUS" jdbcType="VARCHAR"/>

        <result property="reportReasonId" column="report_reason_id" jdbcType="CHAR"/>
        <result property="reporterId" column="reporter_id" jdbcType="VARCHAR"/>
        <result property="reportDate" column="report_date" jdbcType="DATE"/>
        <result property="reportText" column="report_text" jdbcType="VARCHAR"/>

    </resultMap>

    <resultMap id="diaryCalendar" type="com.nj.secretary.services.calendar.domain.IsDiary">
        <result property="id" column="DIARY_ID" jdbcType="NUMERIC"/>
        <result property="username" column="USER_ID" jdbcType="VARCHAR"/>
        <result property="emotionNo" column="EMOTION_ID" jdbcType="NUMERIC"/>
        <result property="imageUrl" column="WEATHER" jdbcType="VARCHAR"/>
        <result property="start" column="DIARY_DATE" jdbcType="DATE"/>
    </resultMap>

    <insert id="addDiary" parameterType="com.nj.secretary.services.diary.domain.Diary">

        INSERT INTO DIARY(diary_id, emotion_id, user_id, blind_status, delete_status, diary_title, diary_text, location, weather,  like_count, delete_date, share_status, report_count, diary_date, sort_condition)
        VALUES(diary_seq.nextval, #{emotionNo}, '윤도영', DEFAULT , DEFAULT , #{diaryTitle, jdbcType=VARCHAR}, #{diaryText, jdbcType=VARCHAR}, #{location}, #{weather}, DEFAULT, null, #{shareStatus}, DEFAULT, #{diaryDate}, 0)

    </insert>

    <select id="getDiaryList" resultMap="diaryServiceMap" parameterType="String">
        SELECT * FROM DIARY
        WHERE user_id = #{value} AND delete_status = 0
        ORDER BY diary_date
    </select>

    <select id="getOthersDiaryList" resultMap="diaryServiceMap">
        SELECT * FROM DIARY
        WHERE delete_status = 0 AND share_status = 1
    </select>



    <update id="moveToBin" parameterType="integer">
        update DIARY set DELETE_STATUS = 1, DELETE_DATE = SYSDATE
        where DIARY_ID = #{diaryId}
    </update>

    <select id="getDiary" parameterType="integer" resultType="com.nj.secretary.services.diary.domain.Diary">
        SELECT * FROM DIARY
        WHERE DIARY_ID=${diaryNo}
    </select>

    <update id="updateDiary" parameterType="com.nj.secretary.services.diary.domain.Diary">
        update DIARY set DIARY_TITLE=#{diaryTitle}
                          ,DIARY_TEXT=#{diaryText}
                          ,SHARE_STATUS=#{shareStatus}
        where DIARY_ID = #{diaryId}
    </update>

    <insert id="addFiles" parameterType="String">
        INSERT INTO AttachFile(file_id, diary_id, file_name, file_status)
        VALUES(attachfile_seq.nextval, diary_seq.currval, #{value}, '0')
    </insert>

    <select id="getTagDiaryList" parameterType="String" resultMap="diaryServiceMap">
        SELECT
            DISTINCT a.file_name AS file_name
        FROM DIARY d, ATTACHFILE a
        WHERE d.diary_id=a.diary_id AND d.user_id = #{value}
        ORDER BY file_name
    </select>


    <select id="getReportedDiaryList" resultMap="diaryServiceMap">
        select DISTINCT diary_id, user_id, diary_title, report_count, blind_status
        from diary
        where report_count >= 3
    </select>

    <update id="setBlindDiary" parameterType="integer">
        {
            CALL
            BEGIN
            UPDATE (SELECT d.diary_id AS diary_id, u.user_id AS user_id, u.blind_count AS blind_count, d.blind_status AS blind_status
            FROM diary d, users u
            WHERE d.user_id = u.user_id AND d.diary_id = #{value}) d
            SET d.blind_status = '1';
            MERGE INTO users u
            USING (SELECT d.diary_id AS diary_id, u.user_id AS user_id, u.blind_count AS blind_count, d.blind_status AS blind_status
            FROM diary d, users u
            WHERE d.user_id = u.user_id AND d.diary_id = #{value}) d
            ON (u.user_id = d.user_id)
            WHEN MATCHED THEN
                UPDATE SET u.blind_count = d.blind_count + 1;
            END
            }
    </update>

    <select id="getDiaryEmotion" parameterType="com.nj.secretary.services.calendar.domain.Calendar" resultMap="diaryCalendar">
        SELECT to_char(DIARY_DATE,'yyyy-mm-dd') DIARY_DATE, DIARY_ID, WEATHER
        FROM DIARY
        WHERE USER_ID = #{username} and DIARY_DATE &gt;= #{start} and DIARY_DATE &lt;=#{end}
    </select>

    <select id="getBinList" parameterType="String" resultMap="diaryServiceMap">
        SELECT DIARY_ID, DIARY_TITLE, DELETE_DATE, DIARY_DATE
        FROM DIARY
        WHERE USER_ID = #{userId} and DELETE_STATUS = '1'
    </select>
</mapper>

